$primary-color: #9c27b0;
$light-primary: #e1bee7;
$text-icons: #FFF;
$dark-primary: #7b1fa2;
$accent: #7c4dff;
$primary-text: #212121;
$secondary-text: #757575;
$divider: #BDBDBD;
nav{
  background: $primary-color;
}
.page-footer{
  background: $primary-color;
}

.brand-logo{
  margin-left: 1rem;
}

i{
  font-size: 1.5rem !important;
}

p a{
  color: #F5F5F5;
  text-decoration: none;
}

.header-banner{
  .row{
    margin-bottom: 0;
  }
  max-height: 680px;
  background: url('../img/banner3.jpg');
  background-size: cover;
  .s12 .h2{
    font-size: 2.5rem;
    color: $text-icons;
  }
  .h3{
    color: $text-icons;
    letter-spacing: 3px;
    font-size: 2rem;
  }
  p.h1 span{
    font-size:5rem;
    letter-spacing: 10px;
    font-weight: bold;
    color: $text-icons;
    background: transparentize($primary-color, .3);
    font-weight: 900;
  }
}
