$primary-color: #9c27b0;
$light-primary: #e1bee7;
$text-icons: #FFF;
$dark-primary: #7b1fa2;
$accent: #7c4dff;
$primary-text: #212121;
$secondary-text: #757575;
$divider: #BDBDBD;
nav{
  background: $primary-color;
}
.page-footer{
  background: $primary-color;
}

.brand-logo{
  margin-left: 1rem;
}

i{
  font-size: 1.5rem !important;
}

p a{
  color: #F5F5F5;
  text-decoration: none;
}

.header-banner{
  .row{
    margin-bottom: 0;
  }
  max-height: 680px;
  background: url('../img/banner3.jpg');
  background-size: cover;
  .s12 .h2{
    font-size: 2.5rem;
    color: $text-icons;
  }
  .h3{
    color: $text-icons;
    letter-spacing: 3px;
    font-size: 2rem;
  }
  p.h1 span{
    font-size:5rem;
    letter-spacing: 10px;
    font-weight: bold;
    color: $text-icons;
    background: transparentize($primary-color, .3);
    font-weight: 900;
  }
}


.active{
  color: $light-primary !important;
}
input:focus, textarea:focus{
  border-bottom-color: $light-primary !important;
  box-shadow: 0 1px 0 0 $light-primary !important;
}



/*Services card*/
.hair{
  background: url('../img/hair.jpg') !important;
  background-size: cover !important;
  background-position: 50% !important;
}
.color{
  background: url('../img/color.jpg') !important;
  background-size: cover !important;
  background-position: 50% !important;
}

.treatment{
  background: url('../img/treatment.jpg') !important;
  background-size: cover !important;
  background-position: 50% !important;
}

.nails{
  background: url('../img/nails.jpg') !important;
  background-size: cover !important;
  background-position: 50% !important;
}

.facial{
  background: url('../img/facial.jpg') !important;
  background-size: cover !important;
  background-position: 50% !important;
}

.make-up{
  background: url('../img/makeup.jpg') !important;
  background-size: cover !important;
  background-position: 50% !important;
}

.waxing{
  background: url('../img/waxing.jpg') !important;
  background-size: cover !important;
  background-position: 50% !important;
}

.others{
  background: url('../img/others.jpg') !important;
  background-size: cover !important;
  background-position: 50% !important;
}

.services-card{
  min-height: 20rem;
  background: url('../img/treatment.jpg');
  background-size: cover;
  background-position: 50%;
  .title{
    font-size: 1.5rem;
    color: $text-icons;
    letter-spacing: .3rem;
    font-weight: bolder;
  }
  .services-detail{
    text-align: center;
    p{
      color: $text-icons;
      letter-spacing: 5px;
      font-size: 1rem;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.promotions{
  .promotions-title{
    span{
      border-bottom: 5px solid $light-primary;
    }
  }
  li{
    line-height: 3rem;
    text-align: center;
  }
}

.summer-beauty{
  background: url('../img/column.png');
  background-position: right top;
  background-size: cover;
  min-height: 480px;
  .text{
    color: $secondary-text;
    font-size: 1.5rem;
  }
  p span{
    font-size:5rem;
    letter-spacing: 10px;
    font-weight: bold;
    color: $text-icons;
    background: transparentize($primary-color, .3);
    font-weight: 900;
  }
}
.terms-link{
  color: $light-primary;
}

.picker__date-display{
  background: $primary-color;
}
.picker__day--selected{
  background: $primary-color !important;
}
